/* .circle__online {
  width: 9px;
  height: 9px;
  background-color: #008000;
  border-radius: 50px;
}
.circle__offline {
  width: 9px;
  height: 9px;
  background-color: #c00b0b;
  border-radius: 50px;
} */
ul[class],
ol[class] {
  padding: 0;
}
.status {
  width: 9px;
  height: 9px;
  margin-left: 15px;
  background-color: rgb(192, 11, 11);
  border-radius: 50px;
  /* border: 3px #5f9ea0; */
}
.friendList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 310px;
  background-color: #140d33;

  border-radius: 10px 10px 10px 10px;
}
.itemList {
  display: flex;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  margin-top: 5px;
}
.itemList:hover {
  background-color: #eaeeff38;
}
.itemList:hover .name {
  color: coral;
}
.avatar {
  margin-left: 30px;
}
.name {
  margin-left: 25px;
  color: rgb(177, 178, 214);
}
