.type {
  color: chocolate;
}
.amount {
  color: coral;
}
.currency {
  color: cornflowerblue;
}
.t {
  padding: 10px 0;

  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  width: 100px;
  height: 15px;
}
.line:nth-child(2n + 1) {
  background-color: #f1db75;
}
